#total {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url("./images/pattern-bg.png");
  background-size: cover;
  padding: 3rem auto;
}

#top {
  height: 35vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
}

h1 {
  color: white;
  font-size: 1.5rem;
}

#search {
  width: 95vw;
  display: flex;
  justify-content: center;
  position: relative;
}

input {
  width: 80%;
  height: 2.5rem;
  border-radius: 0.75rem 0 0 0.75rem;
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

button {
  display: flex;
  height: 2.5rem;
  padding: 1rem;
  background-color: black;
  border-radius: 0 0.75rem 0.75rem 0;
  border: none;
  align-items: center;
  justify-content: center;
}

#details {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.75rem;
  width: 90%;
  padding: 1rem 3rem;
  gap: 1rem;
  position: absolute;
  top: 130px;
  z-index: 50000;
}

#map {
  width: 100vw;
  height: 65vh;
}

title {
  height: 10%;
}

marker {
  height: 15%;
}
